body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkgoldenrod;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;

  height: 50px;
}

.App-header {
  background-color: rgb(49, 206, 18);
}

.App-title :hover {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(360deg);
  }
}
